{% extends "base.html" %}
{% block title %}レシピ一覧{% endblock %}
{% block contents %}
<!--カテゴリボタンセクション-->

<!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">みんなのレシピ</h2>
                                <p class="lead fw-normal text-muted mb-5">ここには、すべてのレシピが掲載されています。<br>気になるものがあればぜひご覧ください。<br>お目当てのレシピが見つからなければ、下の検索欄から検索できます。</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        {% for record in object_list %}
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{ record.image.url }}" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'cook:recipe_detail' record.pk %}"><h5 class="card-title mb-3">{{record.title}}</h5></a>
                                    <p class="card-text mb-0">{{record.description}}</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="small">
                                                <div class="fw-bold">{{record.user.username}}</div>
                                                <div class="text-muted">{{posted_at}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
{% include "pagination.html" %}
{% endblock %}
