{% extends "base.html" %}
{% block contents %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">よくあるご質問(FAQ)</h1>
                        <p class="lead fw-normal text-muted mb-0"></p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 1-->
                            <h2 class="fw-bolder mb-3">アカウントについて</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Q1: アカウント登録の手順は？</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A:
                                            <strong> トップページの「新規登録」ボタンをクリック</strong>
                                            し、名前やメールアドレスなどの必要情報を入力してください。
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Q2: アカウント情報を変更する方法は？</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A: ログイン後、
                                            <strong>「設定」ページに移動</strong>
                                            し、各種情報を編集できます。
                                            <code></code>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Q3: パスワードを忘れた場合はどうすれば良いですか？</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A: 
                                            <strong>ログインページの「パスワードを忘れた方はこちら」リンクをクリック</strong>
                                            し、メールアドレスを入力してリセット手続きを進めてください。
                                            <code></code>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Q4: ログインできない場合はどうしたら良いですか？</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A:<br> 
                                            <strong>1, メールアドレスとパスワードを確認</strong>
                                            入力内容に誤りがないか、特に大文字・小文字やスペースに注意してください。<br>
                                            <strong>2, パスワードリセット</strong>
                                            パスワードが分からない場合は、「パスワードを忘れた方はこちら」から再設定を行ってください。<br>
                                            <strong>3, アカウントのロック解除</strong>
                                            セキュリティのため、複数回のログイン失敗でアカウントが一時的にロックされる場合があります。時間をおいて再試行してください。<br>
                                            <code></code>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 2-->
                            <h2 class="fw-bolder mb-3">サイト利用に関する問題</h2>
                            <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">Q1: サイトにアクセスできない場合はどうすれば？</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            A: ご使用の
                                            <strong>インターネット接続やブラウザの状態を確認してください。</strong>
                                            それでも解決しない場合、別のデバイスで試してみてください。
                                            <code></code>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">Q2: ページが正しく表示されないのはなぜですか？</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            A: ブラウザの
                                            <strong>キャッシュをクリア</strong>
                                            する、もしくは
                                            <strong>最新版のブラウザ</strong>
                                            をご利用ください。
                                            <code></code>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">Q3: その他のエラーが発生した場合は？</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree2" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            A: 
                                            <strong>サポートチーム（spr2440151@stu.o-hara.ac.jp）</strong>
                                            まで詳細をご連絡ください。スクリーンショットを添付していただけると、迅速な対応が可能です。
                                            <code></code>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 bg-light mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">その他のお問い合わせ</div>
                                            <p class="text-muted mb-4">
                                                さらに質問がある場合は、お気軽にご連絡ください！
                                                <br />
                                                <a href="#!">メール: spr2440151@stu.o-hara.ac.jp</a>
                                            </p>
                                            <div class="h6 fw-bolder">フォローしてね！</div>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}